.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}
body {
  background-color: black;
}
.carousel {
  height: 100vh;
  width: 100vw;
  margin: 0rem;
  overflow: hidden;
}
#image-track > .image {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: center;
}
#image-track {
  display: flex;
  gap: 4vmin;
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(0%, -50%);
}
.icon-svg {
  width: 2rem;
  height: auto;
  max-width: 100%;
}
html {
  scroll-behavior: smooth;
}
.table-custom {
  border-radius: 0.75rem;
  overflow: hidden;
}
.no-select {
  user-select: none;
}

.card-frame img {
  border-radius: 1.25rem;
}
.card-frame {
  max-width: 100%;
  display: inline-block;
  padding: 0.75rem;
  border-radius: 2rem;
  background: rgba(200, 200, 200, 0.25);
  border: 1px solid rgba(230, 230, 230, 0.6);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.7);
}
